<template>
  <section class="landing-page-wrapper">
    <section class="mounted-animation">
      <div class="sheila-on-open" v-if="shielaInit">
        <img src="./../../../static/maam-shie-open.png" />
      </div>
    </section>
    <el-container>
      <el-row>
        <el-col :span="24">
          <!--shiela 1 app-->
          <div class="content" v-loading="excelLoading">
            <div class="app-title">Shielapp.com.org</div>

            <div class="inputs">
              <el-select
                v-model="selEnvironment"
                filterable
                placeholder="Select Environment">
                <el-option
                  v-for="item in environments"
                  :key="item.uuid"
                  :label="item.label"
                  :value="item.uuid">
                </el-option>
              </el-select>
            </div>

            <div class="inputs">
              <el-select
                v-model="selCompany"
                filterable
                v-loading="companies? false: true"
                placeholder="Select Company">
                <el-option
                  v-for="item in companies"
                  :key="item.company_uuid"
                  :label="item.company_name"
                  :value="item.company_uuid">
                </el-option>
              </el-select>
            </div>

            <div class="inputs">
              <el-select
                v-model="selBrand"
                filterable
                v-loading="brands? false: true"
                placeholder="Select Brand">
                <el-option
                  v-for="item in brands"
                  :key="item.brand_uuid"
                  :label="item.brand_name"
                  :value="item.brand_uuid">
                </el-option>
              </el-select>
            </div>

            <div class="inputs">
              <el-select
                v-model="selRetailer"
                filterable
                v-loading="retailers? false: true"
                placeholder="Select Retailer">
                <el-option
                  v-for="item in retailers"
                  :key="item.website_uuid"
                  :label="item.website_url"
                  :value="item.website_uuid">
                </el-option>
              </el-select>
            </div>

            <div class="inputs">
              <el-select
                v-model="selType"
                filterable
                v-loading="productTypes? false: true"
                placeholder="Select Type">
                <el-option
                  v-for="item in productTypes"
                  :key="item.producttype_uuid"
                  :label="item.producttype_name"
                  :value="item.producttype_uuid">
                </el-option>
              </el-select>
            </div>

            <div class="inputs">
              <el-select
                v-model="selStatus"
                filterable
                placeholder="Select Type">
                <el-option
                  v-for="item in status"
                  :key="item.uuid"
                  :label="item.label"
                  :value="item.uuid">
                </el-option>
              </el-select>
            </div>

            <div class="inputs">
              <el-button
                type="info"
                style="width: 100%"
                icon="el-icon-download"
                :disabled="!selCompany && !selBrand && !selRetailer && !selType"
                @click="onGetDump()">Excel</el-button>
            </div>
          </div>
        </el-col>
      </el-row>

      <el-row class="content-2">
        <el-col :span="8">
          <!--shiela 2 app-->
          <div class="" v-loading="uploadLoading">
            <div class="app-title">Shiel2app.com.org</div>

            <div class="inputs">
              <el-select
                v-model="selLowieCompany"
                filterable
                v-loading="lowieCompanies? false: true"
                placeholder="Select Company">
                <el-option
                  v-for="item in lowieCompanies"
                  :key="item.company_uuid"
                  :label="item.company_name"
                  :value="item.company_uuid">
                </el-option>
              </el-select>
            </div>

            <div class="inputs">
              <el-button
                type="info"
                style="width: 100%"
                icon="el-icon-upload"
                :disabled="uploadProgress? true: false"
                @click="onUpload()">Upload Products</el-button>
            </div>

            <el-progress type="circle"
              v-if="uploadProgress"
              :percentage="uploadProgress">
            </el-progress>
          </div>
        </el-col>
        <el-col :span="16">
          <el-table
            :data="lowieTable"
            style="width: 100%">

            <el-table-column
              prop="message"
              label="Messages">
            </el-table-column>
          </el-table>
        </el-col>
      </el-row>
    </el-container>
  </section>
</template>

<script src="./scripts/landing-page.js">
</script>

<style lang="sass">
  @import "./styles/landing-page.scss"
</style>
