<template>
  <section class="template-component-wrapper">
    template-component
  </section>
</template>

<script src="./scripts/template-component.js">
</script>

<style lang="sass">
  @import "./styles/template-component.scss";
</style>
