.landing-page-wrapper {
  .app-title {
    font-family: Verdana, arial;
    margin-bottom: 20px;
    color: #777;
    font-weight: 700;
    background: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 4px;
  }

  .inputs {
    margin-bottom: 10px;
    // opacity: 0.8;
  }

  .content {
    // background-image: url(./../../../static/maam-shie.png);
    background-size: contain;
    width: 300px;
    border: none;
    padding: 20px;
    text-align: center;
    margin: 50px;
    box-shadow: 1px 0px 3px 0px rgba(0, 0, 0, 0.3);
  }

  .content-2 {
    // background-image: url(./../../../static/maam-shie.png);
    background-size: contain;
    border: none;
    padding: 20px;
    text-align: center;
    margin: 50px;
    box-shadow: 1px 0px 3px 0px rgba(0, 0, 0, 0.3);
  }
}

.mounted-animation {
  position: relative;
}

.sheila-on-open {
  position: absolute;
  left: 105%;
  animation-name: shiela-open;
  animation-duration: 5s;
}

@keyframes shiela-open {
    0%   {
      left: 100%;
      -ms-transform: rotate(0deg); /* IE 9 */
      -webkit-transform: rotate(0deg); /* Safari */
      transform: rotate(0deg);
    }
    25%  {
      left: 90%;
      -ms-transform: rotate(-30deg); /* IE 9 */
      -webkit-transform: rotate(-30deg); /* Safari */
      transform: rotate(-30deg);
    }
    50%  {
      left: 75%;
      -ms-transform: rotate(-50deg); /* IE 9 */
      -webkit-transform: rotate(-50deg); /* Safari */
      transform: rotate(-50deg);
    }
    100% {
      left: 105%;
      -ms-transform: rotate(0deg); /* IE 9 */
      -webkit-transform: rotate(0deg); /* Safari */
      transform: rotate(0deg);
    }
}
